*{
  margin: 0;
  padding: 0;
  
}

.leaflet-container {
  width: 100%;
  height: 500px;
}

.leaflet-container img {
  max-width: none !important;
}
.leaflet-container {
  width: 100%;
  height: 500px;
}

.leaflet-container img {
  max-width: none !important;
  width: auto !important;
}

.leaflet-tile {
  max-width: none !important;
}