* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
.leaflet-container {
  width: 100%;
  height: 500px;
}

.leaflet-container img {
  max-width: none !important;
}

.leaflet-tile {
  max-width: none !important;
}

